body {
    background-color: rgb(175, 175, 175);
}

h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h4 {
    text-align: center;
}

#dogNames {
    color: rgb(250, 250, 250);
    text-align: justify;
}